// @import "bulma";
// @import "bulma-extensions/bulma-steps";
// @import "bulma-extensions/bulma-timeline";
// @import "bulma-extensions/bulma-slider";

body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1) ), url('../../../static/bwmaccoffee.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-flow: column;

    &.is-three-quarters {
        width: 75%;
    }

    &.is-two-thirds {
        width: 66%;
    }

    &.is-half {
        width: 50%;
    }

    &.is-third {
        width: 33%;
    }

    &.is-quarter {
        width: 25%;
    }

    &.is-tenth {
        width: 10%;
    }

    &.is-centered {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &.is-row {
        flex-flow: row;
        align-items: center;

        &.is-centered {
            justify-content: space-evenly;
        }
    }
}

.button {
    cursor: pointer;
    padding: 1% 2%;
    background: transparent;
    color: whitesmoke;
}